<div id="app-container"></div>

<div class="row">
  <div class="small-12 columns">
    <div id="spinner-modal" class="reveal-modal" data-reveal>
      <p><%= image_tag "ajax-loader.gif" %> Saving...</p>
    </div>
  </div>	
</div>

<script type="text/javascript">
  //alert('omg');
  $(function() {
    console.log("Initializing form app");
    App.router = new App.Router();
        Backbone.history.start();
  });
</script>

