<div class='row'>
  <div class='large-12 columns text-center'>
    <h2>Sweet!</h2>
    <p>You've just found <strong>The Wig</strong>.</p>
  </div>
</div>

<div class='row'>
  <div class='large-12 columns'>
    <div class="module-profile-vertical">
      <div class="avatar">
        <img src="<%= @observation.animal.avatar.remote_url %>">
      </div>
    
      <div class="profile-child">
        <div class="profile-detail">
          <span class="profile-number"><%= @observation.animal.tag_code %></span>
        </div>
    
        <div>
          <span class="profile-name"><%= @observation.animal.name %></span><br/>
          <div class="profile-info">
            <div class="profile-text">
              <p>
              Sighted 13 times<br/>
              Last seen just now
              </p>
            </div>
            <div class="profile-text">
              <p>
                Tagged 3 years ago<br />
                Sex unknown
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row"><h1> .</h1></div> 


<div class='row'>
  <div class='large-12 columns text-center'>
    <p> <a href=''>Report another cockatoo</a><br /><a href='https://www.thankq.net.au/donate/v247/Donate1.aspx?ref=5617662807&pid=4'>Support us with a tax-deductible donation</a><br /><a href='https://www.facebook.com/CockatooWingtags'>Visit us on Facebook</a><br /> </p> 
  </div>
</div>

