<h1>Manage Animals</h1>

<%= link_to 'Add an animal', new_admin_animal_path, class: "button [alert]" %>

<ul class='small-block-grid-1 medium-block-grid-2 large-block-grid-3'>
  <% @animals.each do |animal| %>
    <li><%= render animal %></li>
  <% end %>
</ul>

