<div class='row'>
  <div class='small-6 medium-8 small-centered columns'>
    <h3>New Animal</h3>
    <%= form_for [:admin, @animal] do |f| %>
      <%= render :partial => "form", :locals=>{:f=>f} %>
      
      <p class='right'>
        <%= link_to "Cancel", admin_animals_path, class: 'button' %>
        <%= f.submit "Create", class: 'button' %>
      </p>
    <% end %>
  </div>
</div>