


<div class="wrapper">
    <section>
      <div class="row">
        <div class="small-12 medium-8 large-6 small-centered columns">
          <h5 class="text-center profile-number"><a href='#about'>The Project</a></h5>
          <h5 class="text-center profile-number"><a href='#faqs'>FAQs</a></h5>
          <h5 class="text-center profile-number"><a href='#support'>Support</a></h5>
        </div>
      </div>
    </section>  

    <section>
    <div class="row">
      <div class="small-12 medium-8 large-6 small-centered columns">

        <a name='about' ><h3 class="text-center">The Wingtags Project</h3></a>

          <div class="contentrows">
          <p>Research is currently under way that involves wing-tagging Sulphur-crested Cockatoos (<em>Cacatua galerita</em>) within the Sydney region, Australia. Our aim is to learn about the Cockies' behaviour: site-loyalty, population size and foraging, roosting and breeding habitat preferences.</p>

          <p>Wingtags allow all of us to identify individual birds and contribute to the research aiming to learn about their behaviour. We encourage everyone who encounters a Cockie with wingtags to report their sighting as this helps us learn more about the bird’s behaviour.</p>

          <p>This research commenced on 16th September 2011 when ‘Columbus’, Cockie 001, was tagged within the Royal Botanic Garden, Sydney. To our knowledge this study was the first time plastic cattle-ear tags* had been fitted to a parrot. Cockatoos have powerful beaks we had concerns that the tags wouldn’t last very long. However, our worries were unfounded; Columbus (001) is regularly resighted and the tags remain intact. This hasn’t been the case for all 100 tagged birds; some have partially chewed tags, others have removed one tag and still others have removed both tags. Overall wingtags has worked well and allowed us to collect a lot of behavioural data and engage members of the community to report their sightings.</p>

          <p>The idea for this research was born in December 2010 when John and Adrian drove from Sydney to Canberra to attend the Ecological Society of Australia conference. At the time Adrian was in the middle of his doctoral research looking at how parrots have colonised and adapted to the urban environment. Sulphur-crested Cockatoos have changed their distribution over the last 20 years, expanding from remnant woodland areas to be common across the Sydney region. However, no studies had assessed Cockies' behaviour in either natural woodland habitats or the recently colonised urban environment. Importantly, tree hollows are a limited resource in urban areas as there are fewer large old trees; remnant eucalypts in particular are naturally pitted with hollows of various size and shape, the hollows large enough for a Cockie to nest in can up to 100 years to form. Hollows are integral to Australian fauna as over 300 species rely on hollows for shelter for reproduction.</p> 

          <p>In 2014 we commenced GPS tracking existing wing-tagged Cockies aiming to learn more about their behaviour, specifically foraging, roosting and habitat preferences. The wingtag resighting data has allowed us to learn a lot about the birds' movements and in particular their foraging movements within urban areas. However, we have recorded few records of the birds using natural areas for the obvious reason that few people are around to record the birds' presence. With the GPS transmitters we aim to determine if the birds use urban areas more frequently than natural areas. The transmitters we are using weigh 20g (this equates to ~2.5% of the mass of a 800g cockatoo), are solar powered and can record a GPS position up to every 30 minutes. The data collected is transmitted via the GSM mobile phone network each day so we can see in almost real-time the bird’s movements. The ability to track existing wing-tagged birds enables us to compare their known movements from reported sightings with the GPS movement data. Birds are tracked for a short period (e.g. 1-3 months) and then recaptured to remove the transmitter.</p><br>

          <h5 class="subheader">Report your cockatoo sighting</h5>

          <p>If you see a Cockie with a wingtag please report the tag number and colour using our <%= link_to "online form", new_observation_path %>, <a href='https://itunes.apple.com/au/app/cockatoo-wingtags/id516858142'>iPhone app</a> or via <a href="mailto:cockatoo.wingtag@gmail.com">email</a>.<br/>

          You can also forward us pictures of the tagged cockatoos that you have observed.</p>
        </div>
      </div>
    </div> 
    </section>

    <section>
    <div class="row">
      <div class="small-12 medium-8 large-6 small-centered columns">

        <a name='faqs'><h3 class="text-center">FAQs</h3></a>

        <h6><strong>Why are you tagging Cockatoos?</strong></h6>
        <p>We are tagging and tracking Cockatoos to find out how they are adapting to living in the city. Read more about the project <%= link_to "above", "#about" %>.</p>

        <h6><strong>What are the birds’ names?</strong></h6>
        <p>All of the study birds (and their names) can be seen <%= link_to "here", animals_path %>.</p>

        <h6><strong>How are the tags attached to the birds?</strong></h6>
        <p>The wingtags are permanently attached through the birds’ patagium, a section of flexible skin that expands and contracts with the opening and closing of the wing. It’s similar to the loose bit of skin on the inside of your elbow.
        This method of marking birds with plastic cattle tags as wingtags was first used in the 1970’s on vultures. </p>

        <h6><strong>How long will the tags remain attached?</strong></h6>
        <p>Wingtags is a long term project. The tags will remain on the birds until they fall off or the tagged bird removes them. Collecting long-term data is necessary as the Cockies population is subject to natural variations and long term changes that can only be measured by tracking the Cockatoos for years.</p>

        <h6><strong>Does tagging hurt the birds?</strong></h6>
        <p>The process is similar to a human getting a skin piercing. The tagging process is quick, and we aim to minimise the distress of the birds. After tagging the birds are closely monitored and we release them within half an hour of being caught. The Cockies tend to initially inspect the tag, but quickly adjust to flying and preening as normal. They are capable of chewing through the tags and removing them.</p>

        <h6><strong>Have the birds suffered any injuries or adverse effects from the tags?</strong></h6>
        <p>No, to the best of our knowledge. We know that all of the wing-tagged birds have been resighted, and the majority are regularly resighted. We have received reports of a couple of birds with minor injuries, but they have all subsequently been observed and are in good health.</p>

        <h6><strong>I’ve seen a sick Cockatoo that is losing its feathers and/or has a deformed beak.</strong></h6>
        <p>The Cockie probably has <a href="http://www.environment.gov.au/biodiversity/invasive-species/publications/factsheet-beak-and-feather-disease-psittacine-circoviral-disease">Beak and Feather Disease</a> (Psittacine Circoviral Disease). It’s a naturally occurring virus that, unfortunately, is often fatal. There is no widely-available vaccine.</p>

        <h6><strong>I've found a bird with an injury. Should I take it to a vet?</strong></h6>
        <p>Both the tagged and untagged birds are wild animals and injuries and illnesses naturally occur. Small injuries that look like they will heal probably will heal. If you see an injured bird that clearly has its welfare compromised or is obviously in distress, you should call the appropriate wildlife rescue group for your area (e.g. in Sydney WIRES or SMWS).
        We do not recommend you try to catch the bird yourself. Cockatoos have a very powerful beak and being bitten can cause a serious injury.</p>

        <h6><strong>I have some vetinary questions?</strong></h6>
        <p>We are ecologists not vets and we cannot offer veterinary advice. Please contact your local vet for any veterinary matters.</p>

        <h6><strong>Can I feed the birds?</strong></h6>
        <p>We discourage people from feeding wild animals, although we acknowledge that lots of people feed wild animals—including the wing-tagged Cockies. If you are feeding wild animals, be aware that many foods are not appropriate for them, including pet food. Where possible, provide ‘natural’ foods, or plant them in your garden.
        More information can be found at <a href="http://www.birdsinbackyards.net/feed-or-not-feed-0">Birds In Backyards</a> and <a href="http://www.environment.nsw.gov.au/animals/KeepingWildlifeWild.htm">Environment NSW</a>.</p>
      </div>
    </div>
    </section>

    <section>
    <div class="row">
      <div class="small-12 medium-8 large-6 small-centered columns">
        <a name='support' ><h3 class="text-center">Supporting Our Research</h3></a>           

          <%= link_to "Donated funds", sponsorship_path %> will be used to conduct GPS tracking and to maintain the website, iPhone app and database.
        </div>
      </div>
    </div>
    </section>

    <!-- <hr>

    <div class="row">
      <div class="large-12 columns">

         <p><small>The method of wing-tagging large birds with plastic cattle ear-tags was first trialled inthe 1970’s in the USA to research the behaviour of cathartid vultures (Cathartes aura) (Wallace et al. 1980. J. Field Ornithology 51(4) 309-314).</small></p>
      </div>
    </div> -->
</div>
