<%= render "slider" %>

<div class="wrapper">
    <div class="row">
      <div class="large-12 columns">
        <h2 class="subheader">ABOUT</h2> 

          <div class="contentrows">
          <p>
            Research is currently under way that involves wing-tagging Sulphur-crested Cockatoos (<em>Cacatua galerita</em>) within the Sydney region, Australia. Our aim is to learn about the Cockies' behaviour: site-loyalty, population size and foraging, roosting and breeding habitat preferences.</p>

            <p>Wingtags allow all of us to identify individual birds and contribute to the research aiming to learn about their behaviour. We encourage everyone who encounters a Cockie with wingtags to report their sighting as this helps us learn more about the bird’s behaviour.</p>

            <p>This research commenced on 16th September 2011 when ‘Columbus’, Cockie 001, was tagged within the Royal Botanic Garden, Sydney. To our knowledge this study was the first time plastic cattle-ear tags* had been fitted to a parrot. Cockatoos have powerful beaks we had concerns that the tags wouldn’t last very long. However, our worries were unfounded; Columbus (001) is regularly resighted and the tags remain intact. This hasn’t been the case for all 100 tagged birds; some have partially chewed tags, others have removed one tag and still others have removed both tags. Overall wingtags has worked well and allowed us to collect a lot of behavioural data and engage members of the community to report their sightings.</p>

            <p>The idea for this research was born in December 2010 when John and Adrian drove from Sydney to Canberra to attend the Ecological Society of Australia conference. At the time Adrian was in the middle of his doctoral research looking at how parrots have colonised and adapted to the urban environment. Sulphur-crested Cockatoos have changed their 
             distribution over the last 20 years, expanding from remnant woodland areas to be common across the Sydney region. However, no studies had assessed Cockies' behaviour in either natural woodland habitats or the recently colonised urban environment. Importantly, tree hollows are a limited resource in urban areas as there are fewer large old trees; remnant eucalypts in particular are naturally pitted with hollows of various size and shape, the hollows large enough for a Cockie to nest in can up to 100 years to form. Hollows are integral to Australian fauna as over 300 species rely on hollows for shelter for reproduction.</p> 

            <p>In 2014 we commenced GPS tracking existing wing-tagged Cockies aiming to learn more about their behaviour, specifically foraging, roosting and habitat preferences. The wingtag resighting data has allowed us to learn a lot about the birds' movements and in particular their foraging movements within urban areas. However, we have recorded few records of the birds using natural areas for the obvious reason that few people are around to record the birds' presence. With the GPS transmitters we aim to determine if the birds use urban areas more frequently than natural areas. The transmitters we are using weigh 20g (this equates to ~2.5% of the mass of a 800g cockatoo), are solar powered and can record a GPS position up to every 30 minutes. The data collected is transmitted via the GSM mobile phone network each day so we can see in almost real-time the bird’s movements. The ability to track existing wing-tagged birds enables us to compare their known movements from reported sightings with the GPS movement data. Birds are tracked for a short period (e.g. 1-3 months) and then recaptured to remove the transmitter.</p><br>

            <h5 class="subheader">Report your cockatoo sighting</h5>

            <p>If you see a Cockie with a wingtag please report the tag number and colour using our <%= link_to "online form", new_observation_path %>, <a href='https://itunes.apple.com/au/app/cockatoo-wingtags/id516858142'>iPhone app</a> or via <a href="mailto:cockatoo.wingtag@gmail.com">email</a>.<br/>

            You can also forward us pictures of the tagged cockatoos that you have observed.</p>
            
            <h5 class="subheader">Supporting our research</h5>

            <%= link_to "Donated funds", sponsorship_path %> will be used to conduct GPS tracking and to maintain the website, iPhone app and database.
          </div>
      </div>
    </div>

    <!-- <hr>

    <div class="row">
      <div class="large-12 columns">

         <p><small>The method of wing-tagging large birds with plastic cattle ear-tags was first trialled inthe 1970’s in the USA to research the behaviour of cathartid vultures (Cathartes aura) (Wallace et al. 1980. J. Field Ornithology 51(4) 309-314).</small></p>
      </div>
    </div> -->
</div>
