<%= render "slider" %>


<div class="wrapper">
  <section class="main-content">
    <div class="row centered-text">
      <div class="large-12 columns" style="cursor:pointer;" onclick="location.href='about.html';">
        <p>Research is currently under way that involves wing-tagging sulphur-crested cockatoos (Cacatua galerita) within the Sydney region, Australia. Our aim is to learn about the cockies behaviour: site-loyalty, population size and foraging, roosting and breeding habitat preferences.</p>
        <p><%= link_to '>> Learn more', about_path %></p> <!-- <a href="about.html">>> Learn more</a></p> -->

      </div>
    </div>
  </section>


  <section class="main-content">
    <div class="row centered-text">
      <div class="large-12 columns">

        <div class="large-5 columns" style="cursor:pointer;" onclick="location.href='form.html';">      
          <a href="form.html">
            <h2 class="subheader">REPORT A SIGHTING</h2></a>
            <p>Our birds have a large yellow tag on their wing. If you've seen one, please tell us!</p>
            <p>>> Make a report </p>
          </a>
        </div>

        <div class="large-2 columns"></div>

        <div class="large-5 columns" style="cursor:pointer;" onclick="location.href='#';">
            <h2 class="subheader">SIGHTINGS</h2></a>
            <p>See where our birds have been about town.</p>

            <p>>> See all sightings </p>
        </div>

    </div>
  </section>

  <!--<section class="main-content">
    <div class="row centered-text">
      <div class="large-12 columns" style="cursor:pointer;" onclick="location.href='#';">
        <a href="http://beta.wingtags.com/observations">
          <h2 class="subheader">SIGHTINGS</h2></a>
          <p>See where our birds have been about town.</p>
          <p><a href="#">>> See all sightings </a></p>
     <hr>
  </div>
    </div>
  </section>-->

  <section class="main-content">
    <div class="row centered-text">
      <div class="large-12 columns">
      <div class="large-5 columns" style="cursor:pointer;" onclick=<%= "location.href='#{observations_index_path}';" %>>
        <h2 class="subheader">GALLERY</h2>
        <p>Papparazzi shots of our little avian celebrities </p>
        <p>>> See all sightings </p>
      </div>

      <div class="large-2 columns"></div>

      <div class="large-5 columns" style="cursor:pointer;" onclick="location.href='sponsorship.html';">
          <h2 class="subheader">SPONSORSHIP</h2>
        <p>Name your very own bird, plus other exclusive privledges</p>
        <p>>> Please support Wingtags</p>
      </div>

    </div>
  </section>

  <!--<section class="main-content">
    <div class="row centered-text">
      <div class="large-12 columns" style="cursor:pointer;" onclick="location.href='sponsorship.html';">
        <a href="sponsorship.html">
          <h2 class="subheader">SPONSORSHIP</h2></a>
        <p>Name your very own bird, plus other exclusive privledges</p>
        <p><a href="sponsorship.html">>> Please support Wingtags </a></p>
      </div>
    </div>
  </section>-->
</div>
