   <!-- Slider -->
<ul class="example-orbit" data-orbit>
  <li>
    <img src="images/slider1.jpg" alt="slide 1" />
    <div class="orbit-caption">
      <p class="slidertitle">CAPTION ONE.</p>
      <p>Subtitle</p>
    </div>
  </li>
  <li class="active">
    <img src="images/slider1.jpg" alt="slide 2" />
    <div class="orbit-caption">
      Caption Two.
    </div>
  </li>
  <li>
    <img src="images/slider1.jpg" alt="slide 3" />
    <div class="orbit-caption">
      Caption Three.
    </div>
  </li>
</ul>
<!-- Slider END -->


<div class="wrapper">
  <section class="main-content">
    <div class="row">
      <div class="large-12 columns">
        <h2 class="subheader">Terms of use</h1> 

        <p class="contentrows">
          <b>1. We only collect anonymous information.</b>
          <br><br>
          We use technologies like cookies or unique device identifiers to anonymously identify your computer or device so we can deliver a better experience. Our systems also log information like your browser, operating system and IP address.
          <br><br>
          We do not collect personally identifiable information about you. In other words, we do not collect information such as your name, address, phone number or email address.
          <br><br>
          We do not knowingly contact or collect personal information from children under 13. If you believe we have inadvertently collected such information, please contact us so we can promptly obtain parental consent or remove the information.
          <br><br>
          <b>2. We collect or share your location only with permission.</b>
          <br><br>
          In serving you, we may use or store your precise geographic location, if you give us permission to do so. We do not use or share this data for any other purpose. Many devices will indicate through an icon when location services are operating. We only share this location information with others as approved by you.
          <br><br>
          <b>3. You can request to see or delete your personal data.</b>
          <br><br>
          You can sign into your account to see or delete any personally identifiable information we have stored, such as your name, address, email or phone number. You can also contact us by email to request to see or delete this information.
          <br><br>
          <b>4. We keep personal data until you delete it.</b>
          <br><br>
          We remove personally identifiable information (such as your name, address, email or phone number) and other preferences associated with your account promptly after you delete your account. We may retain other data indefinitely.
          <br><br>
          <b>5. We don't share your personal data with other companies.</b>
          <br><br>
          We generally do not share personally identifiable information (such as name, address, email or phone) with other companies.
          <br><br>
          <b>6. Contact</b>
          <br><br>
          If you have any questions or concerns about our privacy policies, please contact us: <a href="mailto:cockatoo.wingtag@gmail.com">cockatoo.wingtag@gmail.com</a>
        </p>

      </div>
  </section>
</div>
