   <!-- Slider -->
<ul class="example-orbit" data-orbit>
  <li>
    <img src="images/slider1.jpg" alt="slide 1" />
    <div class="orbit-caption">
      <p class="slidertitle">CAPTION ONE.</p>
      <p>Subtitle</p>
    </div>
  </li>
  <li class="active">
    <img src="images/slider1.jpg" alt="slide 2" />
    <div class="orbit-caption">
      Caption Two.
    </div>
  </li>
  <li>
    <img src="images/slider1.jpg" alt="slide 3" />
    <div class="orbit-caption">
      Caption Three.
    </div>
  </li>
</ul>
<!-- Slider END -->


<div class="wrapper">
  <section class="main-content">
    <div class="row">
      <div class="large-12 columns">
        <h2 class="subheader">SPONSORSHIP</h1> 
          <p>   
            Research is currently under way that involves wing-tagging sulphur-crested cockatoos (Cacatua galerita) within the Sydney region, Australia. Donated funds will be used to conduct GPS tracking and to maintain the website, iApp and database. All donations of $2 or more are tax deductible within Australia.

            https://www.thankq.net.au/donate/v247/Donate1.aspx?ref=5617662807&pid=4 

          </p>
      </div>
    </div>
  </section>
</div>