<%= render "slider" %>

<div class="wrapper">
  <section class="main-content">
    <div class="row">
      <div class="large-12 columns">
        <h2 class="subheader">SPONSORSHIP</h1> 
          <p>   
            Research is currently under way that involves wing-tagging Sulphur-crested Cockatoos (<em>Cacatua galerita</em>) within the Sydney region, Australia. Donated funds will be used to conduct GPS tracking and to maintain the website, iApp and database. All donations of $2 or more are tax deductible within Australia.
            </p>

            <p>
            <a href='https://www.thankq.net.au/donate/v247/Donate1.aspx?ref=5617662807&pid=4'>Click here to donate</a></p>

          </p>
      </div>
    </div>
  </section>
</div>