   <!-- Slider -->
<ul class="example-orbit" data-orbit>
  <li>
    <img src="images/slider1.jpg" alt="slide 1" />
    <div class="orbit-caption">
      <p class="slidertitle">CAPTION ONE.</p>
      <p>Subtitle</p>
    </div>
  </li>
  <li class="active">
    <img src="images/slider1.jpg" alt="slide 2" />
    <div class="orbit-caption">
      Caption Two.
    </div>
  </li>
  <li>
    <img src="images/slider1.jpg" alt="slide 3" />
    <div class="orbit-caption">
      Caption Three.
    </div>
  </li>
</ul>
<!-- Slider END -->


<div class="wrapper">
  <section class="main-content">
    <div class="row">
      <div class="large-12 columns">
        <h2 class="subheader">Terms of use</h1> 

        <p class="contentrows">
          By using the Cockatoo Wingtags mobile app, you are agreeing to be bound by the following terms and conditions ("Terms of Use").
          <br><br>
          <b>Basic Terms</b>
          <br><br>
          You must be 13 years or older to use this site. You are responsible for any activity that occurs under your screen name.
          You may not use the Cockatoo Wingtags service for any illegal or unauthorized purpose. International users agree to comply with all local laws regarding online conduct and acceptable content.
          You are solely responsible for your conduct and any data, text, information, screen names, graphics, photos, profiles, audio and video clips, links ("Content") that you submit, post, and display on the Cockatoo Wingtags service.
          <br><br>
          You must not, in the use of Cockatoo Wingtags, violate any laws in your jurisdiction (including but not limited to copyright laws).
          Violation of any of these agreements will result in the termination of your Cockatoo Wingtags account. While Cockatoo Wingtags prohibits such conduct and content on its site, you understand and agree that Cockatoo Wingtags cannot be responsible for the Content posted on its web site and you nonetheless may be exposed to such materials and that you use the Cockatoo Wingtags service at your own risk.
          <br><br>
          <b>General Conditions</b>
          <br><br>
          We reserve the right to modify or terminate the Cockatoo Wingtags service for any reason, without notice at any time.
          We reserve the right to alter these Terms of Use at any time. If the alterations constitute a material change to the Terms of Use, we will notify you via internet mail according to the preference expressed on your account. What constitutes a "material change" will be determined at our sole discretion, in good faith and using common sense and reasonable judgement.
          We reserve the right to refuse service to anyone for any reason at any time.
          We may, but have no obligation to, remove Content and accounts containing Content that we determine in our sole discretion are unlawful, offensive, threatening, libelous, defamatory, obscene or otherwise objectionable or violates any party's intellectual property or these Terms of Use.
          We reserve the right to reclaim usernames on behalf of businesses or individuals that hold legal claim or trademark on those usernames.
          <br><br>
          <b>Copyright</b>
          <br><br>
          We claim no intellectual property rights over the material you provide to the Cockatoo Wingtags service. Your profile and materials uploaded remain yours. You can remove your profile at any time by deleting your account. This will also remove any text and images you have stored in the system.
          We encourage users to contribute their creations to the public domain or consider progressive licensing terms.
          Cockatoo Wingtags undertakes to obey all relevant copyright laws. We will review all claims of copyright infringement received and remove content deemed to have been posted or distributed in violation of any such laws. To make a claim, please provide us with the following:
          A physical or electronic signature of the copyright owner or the person authorized to act on its behalf;
          A description of the copyrighted work claimed to have been infringed;
          A description of the infringing material and information reasonably sufficient to permit Cockatoo Wingtag to locate the material;
          Your contact information, including email;
          A statement by you that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law;
          A statement that the information in the notification is accurate, and, under the pains and penalties of perjury, that you are authorized to act on behalf of the copyright owner.
          Claims can be sent to cockatoo.wingtag@gmail.com.
          Contact the agent designated to receive and act on copyright violations under the Digital Millennium Copyright Act (DMCA).
        </p>

      </div>
  </section>
</div>
