<link href='http://fonts.googleapis.com/css?family=Archivo+Narrow:400,700' rel='stylesheet' type='text/css'>

<div class="module-profile">
  
  	<div class="avatar">
  	  <img src="<%= image_path('gallery.jpg') %>">
  	</div>
<div class="profile-child">
  	<div class="profile-detail">
  	  <span class="profile-number"><%= animal.tag_code.	to_s.rjust(3, "0") %></span>
  	</div>

  	<div class="">
      <span class="profile-name"><%= animal.name %></span><br/>	
  	 <p class="profile-text">Sighted <%= animal.observations.count %> times.<br/>
  	  	Last seen 3 days ago.</p>
  	</div>
  </div>
</div>
