<h4 class="wingtags-header">The Wing-tagged Cockatoos</h4>

<div class="wrapper">
  <section class="main-content">
    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
      <% @animals.each do |animal| %>
      	<% present(animal) do |a| %>
          <li><%= render partial: "animal", object: a %></li>
        <% end %>
      <% end %>
    </ul>
  </section>
</div>

<p>* The data presented here is based on reports submitted through the iOS app and this website, and may exclude data from other sources (e.g. field reports, GPS trackers).</p>