<h4>The Wingtags Team</h4>

<p></p>

<div class="wrapper">
  <section class="main-content">
    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
      <% @animals.each do |animal| %>
      	<% present(animal) do |a| %>
          <li><%= render partial: "animal", object: a %></li>
        <% end %>
      <% end %>
  </ul>
  </section>
</div>