<h4>The Wingtags Team</h4>

<p></p>

<div class="wrapper">
  <section class="main-content">
    <ul class="small-block-grid-1 large-block-grid-2">
      <% @animals.each do |animal| %>
        <li><%= render animal %></li>
      <% end %>
  </ul>
  </section>
</div>