<div class="wrapper">
  <section class="main-content">
    <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-3">
    <li><a href="profile.html"><img src="images/gallery.jpg"></a></li>
    <li><a href="profile.html"><img src="images/gallery.jpg"></a></li>
    <li><a href="profile.html"><img src="images/gallery.jpg"></a></li>
    <li><a href="profile.html"><img src="images/gallery.jpg"></a></li>
    <li><a href="profile.html"><img src="images/gallery.jpg"></a></li>
    <li><img src="images/gallery.jpg"></li>
    <li><img src="images/gallery.jpg"></li>
    <li><img src="images/gallery.jpg"></li>
    <li><img src="images/gallery.jpg"></li>
    <li><img src="images/gallery.jpg"></li>
    <li><img src="images/gallery.jpg"></li>
    <li><img src="images/gallery.jpg"></li>
  </ul>
  </section>
  
</div>