@import "foundation_and_overrides";
@import "foundation";

.module-profile {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  
  background: #F5F5F5;
}

.avatar {
  width: 5rem;
  flex-shrink: 0;
}

.profile-detail {
  padding-left: 1rem;
  padding-right: 1rem;
}

.profile-id {
}

.profile-child {
  display: flex;
  flex-align: center;
  flex: 1;
}

.profile-number {
  font-family: 'Archivo Narrow', sans-serif;
  font-size: $h5-font-size;
  font-weight: 700;
}

.profile-name {
  font-family: 'Archivo Narrow', sans-serif;
  font-size: $h5-font-size;
  font-weight: 400;
  text-transform: uppercase;
}

.profile-text {
  font-size: $small-font-size;
  margin-bottom: 0;
}