@import "foundation_and_overrides";
@import "foundation";

// Variables

$smallish-font-size: 75%;

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

html, body{
    height: auto;
    border-left: rem-calc(15) solid #cdcdcd;
    border-right: rem-calc(15) solid #cdcdcd;
}

body{
	@media #{$small-only} {
		padding: rem-calc(10) rem-calc(10);
	}
	padding: rem-calc(20) rem-calc(40);
}

.wrapper {
    margin: 0 auto;
    max-width: rem-calc(1095);
    letter-spacing: rem-calc(0.2);
}

.headrow{
	background-color:#fdd800;
	margin-bottom: rem-calc(30);
	text-align: center;
}

p, li{
	a{
		text-decoration: underline;
	}
}

footer{
	height: rem-calc(30);
    margin-left: auto;
    margin-right: auto;
    margin-top: rem-calc(30);
    text-align: center;
    color: #999;
}
footer a {
    margin-left: rem-calc(10);
    margin-right: rem-calc(10);
    line-height: rem-calc(50);
    color: #999;
}

.top-bar{
    margin: 0 auto rem-calc(40);
    max-width: rem-calc(1129);
}

.top-bar-section ul li > a{
	text-decoration: none !important;
	letter-spacing: rem-calc(1);
}

.top-bar .toggle-topbar.menu-icon a span:after{
    box-shadow: none;   
}

.top-bar .menu-icon{
    background-image: url("../stylesheets/menubutton.png");
    background-repeat: no-repeat;
}

.top-bar.expanded .menu-icon{
    background-image: url("../stylesheets/menubutton_y.png");
    background-repeat: no-repeat;
}

.top-bar.expanded ul li h1 a{
    //color: $text-color;
    text-decoration: none;
}

.top-bar .name h1 {
    letter-spacing: rem-calc(2);
}
.name img{
    margin-top: rem-calc(-21);
    margin-left: rem-calc(15);
    height: rem-calc(48);
}

nav ul li a{
    text-decoration: none !important;
}
.active a{
    font-weight: bold !important;
}

form a{
	text-decoration: underline;
}

.column, .columns {
    padding-left: 0;
    padding-right: 0;
}

.table_head{
	background-color: #eee;
}
table{
	width: 100%;
}

.orbit-container {
    margin: 0 auto rem-calc(50);
    max-width: rem-calc(1095);
}
.orbit-container .orbit-slides-container > * .orbit-caption {
	max-width: rem-calc(1095);
	bottom: rem-calc(30);
}
.orbit-container .slidertitle{
	color: #FFF;
	font-size: rem-calc(26);
	margin: 0;
	font-weight: normal;
}


/*.top-bar.expanded {
    overflow:visible;
}
.top-bar-section ul {
    position: absolute;
    right: 0;
    z-index: 1;
}*/

@media all and (max-width: rem-calc(640px)) {
    .orbit-caption{
        display:none;
    }

    html, body{
        border-left: rem-calc(5) solid #cdcdcd;
        border-right: rem-calc(5) solid #cdcdcd;
    }

    .top-bar .name h1 a {
        padding: 0;
    }
}

.module-profile {
  @include flexbox();
  background: #F5F5F5;
}

.avatar {
  width: 5rem;
}

.profile-detail {
  padding-left: 0.75rem;
  padding-right: 0.5rem;
}

.profile-id {
}

.profile-child {
  @include flexbox();
  @include flex(1);
}

.profile-number {
  font-family: 'Archivo Narrow', sans-serif;
  font-size: $h5-font-size;
  font-weight: 700;
}

.profile-name {
  font-family: 'Archivo Narrow', sans-serif;
  font-size: $h5-font-size;
  font-weight: 400;
  text-transform: uppercase;
}

.profile-text {
  font-size: $smallish-font-size;
  margin-bottom: 0;
}