<ul class="example-orbit" data-orbit>
  <li>
    <%= image_tag "http://wingtags-syd.s3.amazonaws.com/editorial/slider1.jpg" %>
  </li>
  <li>
    <%= image_tag "http://wingtags-syd.s3.amazonaws.com/editorial/00b6dcba-fbc5-c1e7-3999-9010e3ac3ca9.jpg" %>
  </li>
  <li class="active">
    <%= image_tag "http://wingtags-syd.s3.amazonaws.com/editorial/1c8d5a7f-aa7c-f59f-c3a6-fdefc1955d20.jpg"%>
  </li>
  
</ul>
