<ul class="example-orbit" data-orbit>
  <li>
    <%= image_tag "slider1.jpg", alt: "slide 1" %>
    <div class="orbit-caption">
      <p class="slidertitle">CAPTION ONE.</p>
      <p>Subtitle</p>
    </div>
  </li>
  <li class="active">
    <%= image_tag "slider1.jpg", alt: "slide 2" %>
    <div class="orbit-caption">
      Caption Two.
    </div>
  </li>
  <li>
    <%= image_tag "slider1.jpg", alt: "slide 3" %>
    <div class="orbit-caption">
      Caption Three.
    </div>
  </li>
</ul>