<ul class="example-orbit" data-orbit>
  <li>
    <%= image_tag "http://wingtags-syd.s3.amazonaws.com/editorial/69a9c86b-e475-4bc2-90c9-7c9f67a05878_b.jpg" %>
  </li>
  <li>
    <%= image_tag "http://wingtags-syd.s3.amazonaws.com/editorial/e1c543e3-4f95-431d-85a1-b5d6d1111e9e_b.jpg" %>
  </li>
  <li class="active">
    <%= image_tag "http://wingtags-syd.s3.amazonaws.com/editorial/62c02049-5777-4dab-abe3-2032e61e6546_b.jpg"%>
  </li>
  
</ul>
